# Input指令

In [3]:
a = input("a =")

a =56

In [4]:
a

'56'

# 匯率換算

In [5]:
m =input("美金價格 :")

美金價格 :110

In [6]:
m

'110'

In [7]:
m * 30.5

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
float(m) *30.5

3355.0

In [11]:
m = input("美金價格: ")
twd = float(m) * 30.5
print(twd)

美金價格: 20
610.0

In [12]:
twd

610.0

In [13]:
"合台幣" + twd + "元"

TypeError: can only concatenate str (not "float") to str

In [14]:
"合台幣" + str(twd) + "元"

'合台幣610.0元'

In [15]:
m = input("美金價格: ")
twd = float(m) * 30.5
print("合台幣" + str(twd) + "元")

美金價格: 20
合台幣610.0元

# 拍拍機器人

In [16]:
message = input(">> ")
print("拍拍")

>> sad
拍拍