# 字串格式化

In [1]:
name = "happy"
place = "台中"

In [2]:
message = "您好,來自" + place + "的" + name + "!"

In [3]:
print(message)

您好,來自台中的happy!

In [8]:
message = "你好 ,我是來自{}的{}".format(place,name)

In [9]:
print(message)

你好 ,我是來自台中的happy

In [6]:
f"我是來自{place}的{name}"  #py3 的新語法

'我是來自台中的happy'

# 資料型態不擔心

In [10]:
m = 270
print(str(m) + "合台幣" + str(m * 30.5) + "元")

270合台幣8235.0元

In [11]:
print ("{}合台幣{}元".format(m, m * 30.5))

270合台幣8235.0元

In [18]:
m = 200
t = 200 * 30.5

f"{m}美元折合台幣{t}元"

'200美元折合台幣6100.0元'

In [19]:
print(f"{m}美元折合台幣{t}元")

200美元折合台幣6100.0元